@import "./reset.css";
@import "./common.css";
@import "./wiki-layout.css";

.gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0;
    max-width: 640px;
    margin: auto;
}
div.gallery img {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
